@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --background-main: hsl(222, 26%, 31%);
    --background-keypad: hsl(223, 31%, 20%);
    --background-screen: hsl(224, 36%, 15%);

    --reset-key: hsl(225, 21%, 49%);
    --reset-key-dark: hsl(224, 28%, 35%);

    --equal-key: hsl(6, 63%, 50%);
    --equal-key-dark: hsl(6, 70%, 34%);

    --digits: hsl(30, 25%, 89%);
    --digits-dark: hsl(28, 16%, 65%);

    --keys-text: hsl(221, 14%, 31%);
    --text: hsl(0, 0%, 100%);
  }
  html[data-theme="theme1"] {
    --background-main: hsl(222, 26%, 31%);
    --background-keypad: hsl(223, 31%, 20%);
    --background-screen: hsl(224, 36%, 15%);

    --reset-key: hsl(225, 21%, 49%);
    --reset-key-dark: hsl(224, 28%, 35%);

    --equal-key: hsl(6, 63%, 50%);
    --equal-key-dark: hsl(6, 70%, 34%);

    --digits: hsl(30, 25%, 89%);
    --digits-dark: hsl(28, 16%, 65%);

    --keys-text: hsl(221, 14%, 31%);
    --text: hsl(0, 0%, 100%);
    --display-text: var(--text);
  }
  html[data-theme="theme2"] {
    --background-main: hsl(0, 0%, 90%);
    --background-keypad: hsl(0, 5%, 81%);
    --background-screen: hsl(0, 0%, 93%);

    --reset-key: hsl(185, 42%, 37%);
    --reset-key-dark: hsl(185, 58%, 25%);

    --equal-key: hsl(25, 98%, 40%);
    --equal-key-dark: hsl(25, 99%, 27%);

    --digits: hsl(45, 7%, 89%);
    --digits-dark: hsl(35, 11%, 61%);

    --keys-text: hsl(60, 10%, 19%);
    --display-text: var(--keys-text);
    --text: hsl(0, 0%, 100%);
  }
  html[data-theme="theme3"] {
    --background-main: hsl(268, 75%, 9%);
    --background-keypad: hsl(268, 71%, 12%);
    --background-screen: hsl(268, 71%, 12%);

    --reset-key: hsl(281, 89%, 26%);
    --reset-key-dark: hsl(285, 91%, 52%);

    --equal-key: hsl(176, 100%, 44%);
    --equal-key-dark: hsl(177, 92%, 70%);

    --digits: hsl(268, 47%, 21%);
    --digits-dark: hsl(290, 70%, 36%);

    --keys-text: hsl(52, 100%, 62%);
    --display-text: var(--keys-text);
    --text-dark: hsl(198, 20%, 13%);
    --text: hsl(0, 0%, 100%);
  }
}
